In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import cv2 as cv
import csv
import os

In [2]:
def img_show(img):
    plt.imshow(img)
    plt.xticks([])
    plt.yticks([])
    plt.show()

In [3]:
def img_crop(img):
    x = 12
    y = 12
    h = 200
    w = 200
    return img[y: y + h, x: x + w]

In [4]:
def img_threshold(img):
    ret, thresh = cv.threshold(img, 127, 255, cv.THRESH_BINARY_INV)
    return thresh

In [5]:
def img_resize(img):
    img = cv.resize(img, (28, 28))
    return img

In [6]:
def get_class(digit):
    class_str = '0 1 2 3 4 5 6 7 8 9 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z'
    class_list = class_str.split()
    for i, j in enumerate(class_list):
        if digit == j:
            return i

In [10]:
def img_load(img_name):
    digit = img_name[0]
    class_name = get_class(digit)
    path = 'datasets/' + img_name
    img = cv.imread(path, 0)
    img = img_crop(img)
    img = img_threshold(img)
    img = img_resize(img)
    return int(class_name), img

In [11]:
def img_to_list(class_name, img):
    img_list = list()
    img_list.append(class_name)
    img_f = img.flatten()
    for i in img_f:
        img_list.append(i)    
    return img_list

In [12]:
all_img_list = list()
path = 'datasets/'
for i in os.listdir(path):
    if '.png' in i:
        class_name, img = img_load(i)
        img_list = img_to_list(class_name, img)
        all_img_list.append(img_list)

In [13]:
path = 'cmnist.csv'
with open(path, 'w', newline='') as csvfile:
    spamwriter = csv.writer(csvfile)
    index_list = [i for i in range(785)]
    spamwriter.writerow(index_list)
    for i in all_img_list:
        spamwriter.writerow(i)

In [14]:
cmnist = pd.read_csv('cmnist.csv')

In [15]:
cmnist.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
cmnist.shape

(8102, 785)